.section
  .container
    .columns
      .column.has-text-centered
        %h1.title(style="color: ghostwhite;") Technologies Used (order of importance)

        %ul.about-bg
          %li
            %a(target="_blank" href="https://rubyonrails.org/") Ruby on Rails
          %li
            %a(target="_blank" href="https://www.postgresql.org/") PostgreSQL
          %li
            %a(target="_blank" href="https://bulma.io") Bulma            
          %li
            %a(target="_blank" href="https://github.com/alpinejs/alpine/") AlpineJS
          %li
            %a(target="_blank" href="https://htmx.org") HTMX            
          %li
            %a(target="_blank" href="http://ddollar.github.io/foreman/") Foreman
          %li
            %a(target="_blank" href="https://auth0.com/") Auth0
          %li
            %a(target="_blank" href="https://github.com/github/view_component") View Components
          %li
            %a(target="_blank" href="https://haml.info/") HAML
          %li
            %a(target="_blank" href="") Webpack            
